body{
  font-family: Arial, sans-serif;
  margin:0;
  background:#eef2f5;
  color:#222;
}

header{
  background:#00695c;
  color:white;
  text-align:center;
  padding:60px 20px;
}

header h1{
  margin-bottom:10px;
}

nav{
  background:#004d40;
  text-align:center;
  padding:15px;
}

nav a{
  color:white;
  text-decoration:none;
  margin:20px;
  font-weight:bold;
}

section{
  padding:40px;
}

.module-card{
  background:white;
  padding:30px;
  margin-bottom:30px;
  border-radius:14px;
  box-shadow:0 4px 12px rgba(0,0,0,0.08);
}

.module-card h3{
  margin-top:0;
}

.buttons{
  margin-top:20px;
}

button{
  background:#00796b;
  color:white;
  border:none;
  padding:12px 20px;
  border-radius:8px;
  cursor:pointer;
  margin-right:10px;
  margin-bottom:10px;
  font-size:15px;
}

button:hover{
  background:#004d40;
}

footer{
  background:#222;
  color:white;
  text-align:center;
  padding:20px;
}